body {
    background-color: #132448;
}

h3 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    text-align: center;
}
h1 {text-align: center;
color: white;
font-size: 115px;}



.grey {
    color: grey;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Add vertical scrollbar */
}
h1 {
  margin: 75px 0px 20px;
}


.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}